* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container-fluid {
    position: relative;
    padding: 0 !important;
}
.item{
    block-size: 17.5rem;
    display: flex;
}
.navbar{
    background: linear-gradient(90deg, #23d5ab, #e73c7e, #23a6d5, #ee7752);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}
.nav-item {
    position: relative;
    inline-size: 12.5rem;
    max-block-size: 3.125rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

li a{
    position: relative;
    inset-inline-start: 1.25rem;
    margin-inline-start: 1.25rem;
    color: rgb(255, 255, 255) !important;
    font-size: 1.5625rem;
    transition: 0.5 ease; 
    inline-size: 9.375rem;
}
.borderList{
    position: relative;
    inset-block-start: 20%;
    inset-inline-start: 40%;
    text-align: center;
    inline-size: 15.375rem;
}
.borderList>ul>li{
    list-style: none;
}
.borderList>ul>li>a{
    text-decoration: none;
    font-size: 1.25rem;
    inset-inline-start: -1.875rem;
}
.borderList>h3{
    padding: .3125rem;
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 1000;
    color: aqua;
    border-block-end: .0625rem solid rgb(230, 210, 30);
    border-radius: 31%;
    box-shadow: rgb(89, 243, 69) 0rem .0625rem; 
}
li a:hover {
    font-weight: 1000;
    color: aqua !important;

}

.borderContact {
    position: relative;
    color: aqua;
    inset-block-start: 18%;
    inset-inline-start: 20%;
    inline-size: 12.5rem;
    block-size: 7.5rem;
}
.cart{
    position: relative;
    inset-inline-start: 6.875rem;
}
h3, h5 {
    color: black;
}

.contact {
    position: relative;
    border-block-end: .0625rem solid rgb(230, 210, 30);
    inline-size: 12.5rem;
    block-size: 3.125rem;
    font-size: 2.5rem;
    font-weight: 800;
    border-radius: 31%;
    box-shadow: rgb(89, 243, 69) 0rem .0625rem;
}

.footer_contact {
    position: relative;

}
.carousel-control-prev {
    background-color: gray;
}

.dropdown-menu {
    color: aqua !important;
    background-color: darkslategray !important;
}




.btnlogin{
    text-decoration: none;
    position: relative;
    inset-inline-start: -3.125rem;
    cursor: pointer;
}

footer {
    background: linear-gradient(-45deg, #23d5ab, #e73c7e, #23a6d5, #ee7752);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: white;
    inline-size: 100%;
    padding: 1.25rem;
    align-items: center !important;
    text-align: center;
    justify-content: center !important;
    display: block;
}


h3, h5 {
    color: white;
}

.contact {
    position: relative;
    inline-size: 12.5rem;
    block-size: 3.125rem;
    font-size: 2.5rem;
    font-weight: 800;
    border-block-end: .0625rem solid rgb(230, 210, 30);
    border-radius: 31%;
    box-shadow: rgb(89, 243, 69) 0rem .0625rem;
}

.footer_contact {
    position: relative;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes spin {
    0% {
        filter: hue-rotate(0deg);
    }
}
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0.4375rem;
    background: rgba(70, 70, 70, 0.5);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0.4375rem;
    background: #e73c7e;
  }
  